body.mainn
{
    background:url('../img/bg.jpg')no-repeat center fixed;
  
}
body.an{
       background:url('../img/scene.jpg')no-repeat center fixed;
}
.navbar {
    background-image:url('../img/bg.jpg');
   
}
.jumbotron {
    background-color: transparent;
    padding-bottom:50px;
}
.green {
    color:lightskyblue;
}
.blue{
    color: lightblue;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}

.footer {
    margin-top: 40px;
    padding: 40px 0;
    
}
.foot{
   margin-top: 250px;
    
}
.foott{
      margin-top: 200px;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color:buttonhighlight;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-top: 15px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 10px 10px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

body.login-bg{
     background:url('../img/back.jpg')no-repeat center fixed;
}
body.register-bg{
      background:url('../img/dark.jpg')no-repeat center fixed;
}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 99;
}

p.form-title
{
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color:darkturquoise;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login .not-register-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}
body.relife-bg{
    
    background:url('../img/night.jpg')no-repeat center fixed;
    
}


.portfolio-item {
    margin-bottom: 25px;
  
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
#user{
    color:turquoise;
}
#sidebar-wrapper{
    margin-top:60px;
    width: 200px;
}
.relife-bg{
    padding-top: 70px;
}
#info{
    margin-top:40px;
}
#chac{
  position: relative;
  right:100px;
}
#comment{
   width: 100%;
}
font{
    color: black;
}
#mm{
    margin-top: 60px;
}
body.anmu{
       background:url('../img/music.jpg')no-repeat center fixed;
}
.ca{
   padding-top: 100px;
}
#welcome{
    padding-top: 20px;
}
#a{
    margin-top:100px;
}
.modal-transparent{
  background: transparent;
}
#cat{
   color: black;
}
#comment{
    width: 400px;
    left: 200px;
}
#time{
    margin-left: 10px;
}
#de{
    margin-left: 100px;
    color: black;
}
#reply{
    margin-left: 120px;
}
#tt{
    padding-left: 20px;
}
#result{
    margin-top: 60px;
}
#resul{
    margin-top: 60px;
}
#ti{
    margin-left:50px;
}
body.utable{
    background:url('../img/admin.jpg');
    align-content: center;
    margin-top: 100px;
}
body.cch{
      background:url('../img/pic2.jpg');
}